body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.header__stripe {
  width: 100%;
  height: 42px;
  background: #180606;
}

@media only screen and (max-width: 600px) {
  .header__stripe {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header__stripe {
    display: none;
  }
}

.header__stripe p {
  color: #fff;
  float: left;
  padding: 13px 80px 13px 0px;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  color: #969393;
  font-size: 14px;
  text-indent: 40px;
  position: relative;
  text-transform: uppercase;
}

.header__stripe p:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 8px;
  background: url(../img/mail.png) no-repeat;
  background-size: 24px 24px;
}

.header__stripe p::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 8px;
  background: url(../img/phone.png) no-repeat;
  background-size: 24px 24px;
}

.header__stripe .header__stripe-search {
  width: 250px;
  height: 42px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: #524F4F;
  border: 0px;
  float: right;
}

.header__stripe:before {
  content: "";
  display: block;
  clear: both;
}

.logo {
  width: 90px;
  height: 50px;
  background: url(../img/logo.jpg);
  background-size: cover;
  color: transparent;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .logo {
    grid-column: 1 / 13;
    margin: 20px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1170px) {
  .logo {
    grid-column: 6/8;
    width: 160px;
    height: 85px;
  }
}

.menu {
  width: 50px;
  height: 50px;
  background: url(../img/menu.png) center no-repeat;
  background-size: 32px 32px;
  position: absolute;
  top: 20px;
  left: 90vw;
}

@media only screen and (max-width: 800px) {
  .menu {
    left: 82vw;
  }
}

@media only screen and (min-width: 801px) {
  .menu {
    display: none;
  }
}

.header__nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header__nav .navigation {
  padding: 10px 0px 10px 0px;
  grid-column: 4 / 13;
}

@media only screen and (max-width: 800px) {
  .header__nav .navigation {
    grid-row: 2;
    grid-column: 1 / 13;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1170px) {
  .header__nav .navigation {
    padding: 10px 0 60px 0;
    margin: 0 auto;
    grid-row: 3;
    grid-column: 1 / 13;
  }
}

.header__nav .navigation li {
  padding: 0px 5px 0px 5px;
  margin: 0px;
  position: relative;
  display: inline-block;
  border-left: 1px solid black;
}

.header__nav .navigation li:first-child {
  border-left: 0px solid black;
}

.header__nav .navigation li:last-child {
  background: #63b695;
  border: 0px;
  padding: 11px;
}

@media only screen and (max-width: 800px) {
  .header__nav .navigation li:last-child {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 15px 0 0 0;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1170px) {
  .header__nav .navigation li:last-child {
    width: 250px;
    position: absolute;
    left: 37%;
    top: 217px;
  }
}

@media only screen and (max-width: 800px) {
  .header__nav .navigation li {
    width: 100%;
    border: 0;
    padding: 15px 0 0 0;
    margin: 0 auto;
  }
}

.header__nav .navigation li a {
  padding: 0px 10px 0px 10px;
  color: #252323;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  text-aling: center;
  transition: .2s ease-in-out;
}

.header__nav .navigation li a:hover {
  font-weight: bold;
  transition: .3s ease-in-out;
}

.header__nav .navigation li .donate {
  color: #ffffff;
  font-weight: bold;
}

.front {
  width: 100%;
  height: 100vh;
  background: url(../img/children.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.front:before {
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
  .front:before {
    height: 90vh;
  }
}

@media only screen and (max-width: 800px) {
  .front {
    height: 90vh;
  }
}

.front .front__text {
  margin: auto;
  left: 0;
  top: 25%;
  width: 100%;
  position: absolute;
  text-align: center;
}

.front .front__text p {
  margin: 0 auto;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  width: 250px;
  background: #ffffff;
}

.front .front__text h1 {
  margin: 30px 0px 0px 0px;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 6em;
}

@media only screen and (max-width: 800px) {
  .front .front__text h1 {
    font-size: 2em;
  }
}

.front .front__text h2 {
  margin: 0px 0px 70px 0px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

@media only screen and (max-width: 800px) {
  .front .front__text h2 {
    font-size: 0.8em;
    margin: 0px 0px 30px 0px;
  }
}

.front .front__text a {
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  padding: 10px;
  margin: 0 auto;
  width: 150px;
  background: #63b695;
}

.levels {
  width: 100%;
  background: #f7f7f7;
}

.levels__types {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.levels__types .levels__types-blocks {
  top: -120px;
  padding: 30px;
  position: relative;
}

.levels__types .levels__types-blocks:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 182, 149, 0.4);
}

.levels__types .levels__types-blocks:nth-child(1) {
  background: url(../img/people-1.jpg) center no-repeat;
  background-size: cover;
}

.levels__types .levels__types-blocks:nth-child(2) {
  background: url(../img/people-2.jpg) center no-repeat;
  background-size: cover;
}

.levels__types .levels__types-blocks:nth-child(3) {
  background: url(../img/people-3.jpg) center no-repeat;
  background-size: cover;
}

.levels__types .levels__types-blocks h1, .levels__types .levels__types-blocks h2, .levels__types .levels__types-blocks p, .levels__types .levels__types-blocks a {
  position: relative;
  z-index: 1;
}

.levels__types .levels__types-blocks h1 {
  margin: 10px 30px 0px 30px;
  padding: 0;
  font-size: 8em;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

.levels__types .levels__types-blocks h2 {
  margin: 0px 30px 0px 30px;
  padding: 0;
  font-size: 3em;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

.levels__types .levels__types-blocks p {
  margin: 10px 30px 20px 30px;
  padding: 0;
  font-size: 1.5em;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

.levels__types .levels__types-blocks a {
  float: right;
  color: #ffffff;
  margin: 30px;
  padding: 10px 30px 0px 30px;
  border-bottom: 1px solid #ffffff;
}

.levels__numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.levels__numbers .levels__numbers-blocks {
  padding: 10px;
  background: red;
}
